<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Baudrate</ion-label>

    <ion-select [(ngModel)]="baudrate">

      <ion-select-option [value]="9600">
        9600
      </ion-select-option>

      <ion-select-option [value]="115200">
        115200
      </ion-select-option>

      <ion-select-option [value]="921600">
        921600
      </ion-select-option>

    </ion-select>
  </ion-item>

  <ion-button
    expand="block"
    (click)="connect()">

    Connect Device

  </ion-button>

</ion-content>